{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/foro.css">
</head>
<body>
    <div class="global">
<div class="header">
        <h1>sortu hari bat</h1>
        <div class="headeritems">
            [<a href="/">hasiera</a>]
        </div>
    </div>

        {% if user.is_authenticated %}
            <form action="addPost/" method="POST">
            {% csrf_token %}
                <label for="title">izenburua</label>
                <input type="text" name="title" id="title" required>
                <br>
                <label for="content">edukia</label>
                <textarea name="content" id="content" cols="30" rows="10" required></textarea>
                <input type="submit" value="igo">
            </form>
        {% else %}
            <p>Erabiltzailea ez dago logeatuta. <a href="/login">Hasi saioa</a> mesedez.</p>
        {% endif %}
    </div>
</body>
</html>