{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ author }}'s Threads - Forotxuletas</title>
    <link rel="stylesheet" href="/static/css/foro.css">
</head>
<body>
<div class="global">
    <div class="header">
        <h1>{{ author }}-(r)en hariak</h1>
        <div class="headeritems">
            [<a href="/">hasiera</a>]
            {% if user.is_authenticated %}
                [<a class="loginbutton" href="/logout">saioa itxi</a>]
                [<a class="postbutton" href="/add">igo</a>]
            {% else %}
                [<a class="loginbutton" href="/login">saioa hasi</a>]
            {% endif %}
        </div>
    </div>
    {% for thread in threads %}
        <div class="postdiv">
            <div class="titlediv">
                <span>
                    <span class="threadid">#{{ thread.id }}</span> <a class="threadtitle">{{ thread.title }}</a> - {{ thread.author }}
                </span>
                <span>
                    {{ thread.creation_date }}
                    {% if thread.author == user.username %}
                        [<a href="/delete/{{ thread.id }}">ezabatu</a>]
                    {% endif %}
                    <a>[erantzun]</a>
                </span>
            </div>
            <div class="contentdiv">
                <p>{{ thread.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>