<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/foro.css">
</head>
<body>
<div class="global">
    <div class="header">
        <h1>kontua sortu</h1>
        <div class="headeritems">
            [<a href="/">hasiera</a>]
        </div>
    </div>
    {% if user.is_authenticated %}
        <p>{{ user.username }} gisa logeatuta zaude, [<a href="index.html">joan etxera</a>] edo [<a>saioa itxi</a>] mesedez.</p>
    {% else %}
        <form action="kontuaSortu/" method="post">
            {% csrf_token %}
            <label for="username">erabiltzailea:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">pasahitza:</label>
            <input type="password" name="password" id="password" required>
            <label for="password2">pasahitza errepikatu:</label>
            <input type="password" name="password2" id="password2" required>
            <input type="submit" value="sortu">
        </form>
    {% endif %}
</div>
</body>
</html>