{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ thread.title }}</title>
    <link rel="stylesheet" href="/static/css/foro.css">
</head>
<body>
<div class="global">
    <div class="header">
        <h1>haria</h1>
        <div class="headeritems">
            {% if user.is_authenticated %}
            {% else %}
                [<a class="loginbutton" href="/login">saioa hasi</a>]
            {% endif %}
            [<a class="postbutton" href="/">hasiera</a>]
        </div>
    </div>
    <div class="titlediv">
        <span>
            <span class="threadid">{{ thread.votes }}p</span> <a class="threadtitle">{{ thread.title }}</a> - <a href="/autorea/{{ thread.author }}">{{ thread.author }}</a>
        </span>
    </div>
    <div class="contentdiv">
        <p>{{ thread.content }}</p>
    </div>
    {% if user.is_authenticated %}
        <form class="replyform" method="POST" action="{% url 'add_comment' thread.id %}">
            {% csrf_token %}
            <textarea name="content" placeholder="erantzuna"></textarea>
            <input type="hidden" name="thread_id" value="{{ thread.id }}">
            <input type="checkbox" name="sage" value="sage"> sage <span title="sage hautatzen baduzu, posta ez da zuzeneko feed-era igoko.">(?)</span>
            <input type="submit" value="bidali">
        </form>
    {% else %}
        <a href="/login">hasi saioa erantzuteko</a>
        <br>
    {% endif %}
    <div class="replies">
        {% for comment in comments %}
            <div class="reply">
                <div class="replyheader">
                    <span><a href="/autorea/{{ comment.author }}">{{ comment.author }}</a> - {{ comment.creation_date }}</span>
                    {% if comment.author == user.username %}
                        <span>[<a href="/deleteComment/{{ comment.id }}">ezabatu</a>]</span>
                    {% endif %}
                </div>
                <div class="replycontent">
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
document.getElementById('sort-select').addEventListener('change', function () {
    const selectedSort = this.value;
    const currentUrl = window.location.href;
    const url = new URL(currentUrl);
    url.searchParams.set('sort', selectedSort);
    window.location.href = url.toString();
});
</script>
</body>
</html>