{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ thread.title }}</title>
    <link rel="stylesheet" href="/static/css/foro.css">
</head>
<body>
<div class="global">
    <div class="header">
        <h1>haria</h1>
        <div class="headeritems">
            {% if user.is_authenticated %}
                [<a class="postbutton" href="/add">erantzun</a>]
            {% else %}
                [<a class="loginbutton" href="/login">saioa hasi</a>]
            {% endif %}
            [<a class="postbutton" href="/">hasiera</a>]
        </div>
    </div>
    <div class="titlediv">
        <span>
            <span class="threadid">{{ thread.votes }}p</span> <a class="threadtitle">{{ thread.title }}</a> - <a href="autorea/{{ thread.author }}">{{ thread.author }}</a>
        </span>
    </div>
    <div class="contentdiv">
        <p>{{ thread.content }}</p>
    </div>
    <form class="replyform" action="addReply/" method="POST">
        <textarea name="content" placeholder="erantzuna"></textarea>
        <input type="hidden" name="threadid" value="{{ thread.id }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="checkbox" name="sage" value="sage"> sage <span title="sage hautatzen baduzu, posta ez da zuzeneko feed-era igoko.">(?)</span>
        <input type="submit" value="bidali">
    </form>
    <div class="replies">
        {% for reply in replies %}
            <div class="reply">
                <div class="replyheader">
                    <span class="replyid">{{ reply.votes }}p</span> <a class="replytitle">{{ reply.title }}</a> - <a href="autorea/{{ reply.author }}">{{ reply.author }}</a>
                </div>
                <div class="replycontent">
                    <p>{{ reply.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
document.getElementById('sort-select').addEventListener('change', function () {
    const selectedSort = this.value;
    const currentUrl = window.location.href;
    const url = new URL(currentUrl);
    url.searchParams.set('sort', selectedSort);
    window.location.href = url.toString();
});
</script>
</body>
</html>